<div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-10 pb-5 text-center">
        <h1 class="quicksand-font header text-uppercase">Menu</h1>
        <hr>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-10 pb-5 text-center">
        <h4 class="text-center quicksand-font text-uppercase">{{ # each category as |category|}}</h4>
        {{!-- each item in category should go here  --}}
      </div>
    </div>
  </div>