<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizza Palace</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Pizza Palace</a>
      </h1>
      <nav>
      {{#if loggedIn}}
        <a href="/menu">Menu</a>
        <button id="logout" class="btn-no-style">logout</button>
      {{else}}
      <a href="/login">login</a>
      {{/if}}
      </nav>
    </header>
  </div>


<main class="mt-1">
      {{{ body }}}
</main>


<footer>
  <h2>Pizza Palace</h2>
  <div>
    <a href="#">Read Our Privacy Policy</a><br />
    &copy; 2022 Pizza Palace, Inc.
  </div>
</footer>


</body>

</html>