
    <body>
    <!--Navigation-->
        <header>
            {{!-- <h1>
                <a href="/">Pizza Palace</a>
            </h1> --}}
            <nav>
                <!-- Unordered list element -->
                <ul>
                  <!-- List item element-->
                  <li>
                    <!-- Anchor element -->
                    <a href="#Appetizers">Appetizers</a>
                  </li>
                  <li>
                    <a href="#Salads">Salads</a>
                  </li>
                  <li>
                    <a href="#NY-Style-Pizzas">NY Style Pizzas</a>
                  </li>
                  <li>
                    <a href="#Desserts">Desserts</a>
                  </li>
                  <li>
                    <a href="#Drinks">Drinks</a>
                  </li>
                  <li>
                    <a href="/login">Login</a>
                  </li>
                </ul>
            </nav>
        </header>
<div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-10 pb-5 text-center">
        <h1 class="quicksand-font header text-uppercase">Menu</h1>
        <hr>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-10 pb-5 text-center">
        <h4 class="text-center quicksand-font text-uppercase">Appetizers</h4>
        <p class="text-uppercase">Cheesy Breadsticks $6
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
        <p class="text-uppercase">Bone-In Wings $12
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
        <p class="text-uppercase">Boneless Wings $10
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
      </div>
    </div>
    <div class="Salads">
      <div class="col-10 pb-5 text-center">
        <h4 class="text-center quicksand-font text-uppercase">Salads</h4>
        <p class="text-uppercase">Caesar Salad $8
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
        <p class="text-uppercase">Garden Salad $8
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
        <p class="text-uppercase">Antipasto Salad $10
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
        <p class="text-uppercase">Greek Salad $10
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
      </div>
    </div>
    <div class="Pizzas">
      <div class="col-10 pb-5 text-center">
        <h4 class="text-center quicksand-font text-uppercase">NY Style Pizzas</h4>
        <p class="text-uppercase">Pepperoni $14
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
        <p class="text-uppercase">Three Cheese $12
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
        <p class="text-uppercase">Meat Lovers $16
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
        <p class="text-uppercase">Veggie $16
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
        <p class="text-uppercase">Supreme $16
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>

      </div>
    </div>
    <div class="Desserts">
      <div class="col-10 pb-5 text-center">
        <h4>Desserts</h4>
        <p class="text-uppercase">Chocolate Lava Cake $6
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
        <p class="text-uppercase">Cinnamon Sugar Breadsticks $6
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
      </div>
    </div>
    <div class="Drinks">
      <div class="col-10 pb-5 text-center">
        <h4 class="text-center quicksand-font text-uppercase">Beverages</h4>
        <p class="text-uppercase">Coke $3
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
        <p class="text-uppercase">Sprite $3
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
        <p class="text-uppercase">Orange Fanta $3
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
        <p class="text-uppercase">Dr. Pepper $3
          <select name="Quantities" id="Quantities">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button type="button">Add To Cart</button>
        </p>
      </div>
    </div>
  </div>
  <div class="cart col-3">
    <div class="col-10 pb-5 text-center">
      <h4 class="text-center quicksand-font text-uppercase">Cart</h4>
  </div>
</div>
</body>