<!--Navigation-->
<header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


<button type="button" class="Login btn btn-dark btn-sm">Login</button>
<button type="button" class="Logout btn btn-dark btn-sm">Logout</button>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Pizza Palace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#Appetizers">Appetizers</a>
            <a class="nav-item nav-link" href="#Salads">Salads</a>
            <a class="nav-item nav-link" href="#NY-Style-Pizzas">NY Style Pizzas</a>
            <a class="nav-item nav-link" href="#Drinks">Drinks</a>
        </div>
    </div>
</nav>

</header>

<button type="button"  class = "btn btn-primary btn-sm" data-toggle="modal" data-target="#cart">Cart</button>
<button class="clear-cart btn btn-danger btn-sm">Clear Cart</button>
<div class='container' style="padding: 100px">
    <h2 class="Appetizers">Appetizers</h2>
    <div class="row">
        {{#each items as |item|}}
        {{#ifCategory item "Appetizer"}}
        {{>item-info item}}
        {{/ifCategory}}
        {{/each}}
    </div>
</div>

<div class='container' style="padding: 100px">
    <h2 class="Salads">Salads</h2>
    <div class="row">
        {{#each items as |item|}}
        {{#ifCategory item "Salad"}}
        {{>item-info item}}
        {{/ifCategory}}
        {{/each}}
    </div>
</div>

<div class='container' style="padding: 100px">
    <div class="row">
        <h2 class="Appetizers">NY Style Pizzas</h2>
        {{#each items as |item|}}
        {{#ifCategory item "Pizza"}}
        {{>item-info item}}
        {{/ifCategory}}
        {{/each}}
    </div>
</div>

<div class='container' style="padding: 100px">
    <h2 class="Appetizers">Desserts</h2>
    <div class="row">
        {{#each items as |item|}}
        {{#ifCategory item "Dessert"}}
        {{>item-info item}}
        {{/ifCategory}}
        {{/each}}
    </div>
</div>


<div class='container' style="padding: 100px">
    <h2 class="Appetizers">Beverages</h2>
    <div class="row">
        {{#each items as |item|}}
        {{#ifCategory item "Drink"}}
        {{>item-info item}}
        {{/ifCategory}}
        {{/each}}
    </div>
</div>



<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="show-cart table">

                </table>
                <div class="form-group">
                    <label for="userEmail">Email address</label>
                    <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div>Total price: $<span class="total-cart"></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit-order">Order now</button>
            </div>
        </div>
    </div>
</div>




<script src="/javascript/shoppingCart.js"></script>
<script src="/javascript/order.js"></script>
<script src="/javascript/logout.js"></script>